{% extends 'vegetable/base.html' %}

{% block home%}
<div class="container align-items-center">
    <div class="card">

      {% if messages %}
      <ul class="messages text-center" style="width: 50%; margin: 0 auto">
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      </ul>
      {% endif %}

      {% if user.is_authenticated%}
        <div class="card d-flex align-items-center justify-content-center" style="width: 18rem;">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <p class="card-text">
              HI !!! {{user.first_name}} {{ user.last_name }}
            </p>
          </div>
        </div>
      {% endif %}


        <div class="card-header font-weight-bold font-italic text-center mt-20">
          SIMPLE DJANGO CRUD OPERATION BASED RECEIPE ITEM 
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>"Django may not be able to make you a cup of coffee, but it sure can brew up a web application faster than you can say 'import caffeine'!" 😂🐍💻</p>
            <footer class="blockquote-footer">Your's <cite title="Source Title">Roshan</cite></footer>
          </blockquote>
        </div>
      </div>
</div>
{% endblock home %}